@charset "UTF-8";

@font-face {
  font-family: PlayfairDisplay;
  src: local("PlayfairDisplay"),
       url("/css/fonts/PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: Gabriola;
  src: local("Gabriola"),
       url("gabriola Font Download.ttf");
}
html * {
   /*font-size: 1em !important;*/
   /*color: #000 !important;*/
   color: rgb( 70,78,81 );
   /*font-family: Arial !important;*/
   font-family: PlayfairDisplay !important;
   font-size: 22px;
   /*font-style: bolder;*/
}
body, html {
    /*overflow: hidden;*/
    background:rgb( 240,241,236 );
/*    margin: 75px 0px 72px 0px;
    overflow: hidden;*/
}
    
body{
    min-height: 100%;
    margin: 75px 0px 72px 0px;
    /*overflow: hidden;*/
}
/* unvisited link */
a:link {
    text-decoration: none;
    color: rgb( 70,78,81 );
    font-weight: bold;
}

/* visited link */
a:visited {
    color: rgb( 70,78,81 );
}

/* mouse over link */
a:hover {
    color: rgb( 173,210,226 );
    font-weight: bold;
}

/* selected link */
a:active {
    color: rgb( 173,210,226 );
}
        
/*annelie.css*/
.header-wrapper {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 75px;
    line-height: 75px;
    background-color: rgba( 204,229,233,0.85 );
    z-index: 101;
    padding: 5px 20px 5px 20px;
    /*text-align: center;*/
    font-family: Gabriola !important;
}
.header-name {
    height: 75px;
    line-height: 75px;
    
    font-size: 70px;
    display: inline-block;
    position: relative;
    float: left;
    font-family: Gabriola !important;
    font-weight: bolder;
}
.header-link-box {
    display: inline-block;
    float: right;
    position: relative;
    right: 33%;
    
    height: 75px;
    line-height: 75px;
}
.header-link {
    display: inline-block;
    font-size: 52px;
    height: 20px;
    line-height: 10px;
}
.header-link a:link {
    text-decoration: none;
    color: rgb( 70,78,81 );
    font-family: Gabriola !important;
    font-size: 46px;
}
.header-link a:visited {
    color: rgb( 70,78,81 );
}
.header-link a:hover {
    color: rgb( 173,210,226 );
}
.header-seperator {
    margin: 0 20px 0 20px;
}

/*footer*/
.footer-wrapper-holder {
    bottom: 0px;
    left: 0px;
    z-index: 101;
    width: 100%;
    height: 72px;
    line-height: 72px;
    padding: 5px 20px 5px 20px;
}
.footer-wrapper {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 101;
    width: 100%;
    height: 72px;
    line-height: 72px;
    background-color: rgba( 173,210,226,0.85 );
    padding: 5px 20px 5px 20px;
}
.footer-image-box {
    display: inline-block;
    width: 18%;
    text-align: center;
}
.footer-image-link {
    width: 100%;
    height: 100%;
}
.footer-image-box img {
    /*width: 270px;*/
    /*max-width: 270px;*/
    width: 36px;
    max-width: 36px;
    height: 36px;
    max-height: 36px;
    border: 0;
}

/*page context*/
.site-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    white-space: nowrap;
    /*background:rgb( 240,241,236 );*/
}
.site-wrapper-gallerij {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*margin-bottom: -82px;*/
}
.wrapper-left {
    float: left;
    display: inline-block;
    width:48%;
    height: 100vh;
/*    height: 600px;
    min-height: 600px;
    max-height: 600px;*/
    
    /*overflow-y: scroll;*/
    white-space: normal;
    line-height: 28px;
    padding-left: 20px;
    font-size: 38px;
    /*bottom: -96px;*/
}
.left-content {
    padding-right: 16px;
    height: 100%;
    /*overflow-y: scroll;*/
    overflow-y: auto;
}

/*            .box2 {
                float: left;
                display: inline-block;
                width: 200px;
                height: 100px;
                margin: 1em;
            }*/
.wrapper-right {
    float: left;
    display:inline-block;
    padding: 5px;
    /*padding-right: 20px;*/
    width:48%;
    height: 100vh;
    /*height: 100%;*/
        
    background: url(/images/homepage.png) no-repeat;
    background-size : 100% auto;
    top: 0px;
    /*background-size : contain;*/
    overflow: hidden;
}
.footer-space {
    height: 116px;
}
            
.clearBoth{ clear: both; }

/*contact formulier*/
#frmContact input[type="text"],
#frmContact textarea {
    padding: 2px;
    border: 1px solid #dcdcdc;
    transition: box-shadow 0.3, border 0.3s;
}
#frmContact input[type="text"]:focus,
#frmContact input[type="text"].focus,
#frmContact textarea:focus 
#frmContact textarea.focus {
    border: 1px solid #707070;
    box-shadow: 0 0 5px 1px #969696;
}
.contact-bedankt {
    width: 98%;
    padding: 2px 0 2px 5px;
    margin: 10px 0;
    height: 30px;
    min-height: 30px;
    max-height: 32px;
    line-height: 28px;
    border: 1px solid #080;
    /*background-color: rgb( 83,255,0 );*/
    background-color: rgb( 100, 204, 0 );
}
.input-error {
    color: #E74C3C;
}
.input-error-textbox {
    border: 1px solid #E74C3C;
}

/*Gallerij stukkie*/
.smits {    /*slideshow div*/
    position:relative;
    min-height:1px;
    padding-left:15px;
    padding-right:15px;
    max-height: 600px;
    height: 600px;
    text-align: center;
}
.carousel-inner>.item>a>img,.carousel-inner>.item>img,.img-responsive,.thumbnail a>img,.thumbnail>img{
    display:block;
    width: auto;
    max-width:100%;
    height: 500px;
    max-height: 60%;
    padding: 8px;
    margin:auto;
}
.desoslide-overlay {
    margin:auto;
    position: relative !important;
    top: -45px !important;
    /*text-align: center;*/
    left: 0px !important;
}
.desoslide-overlay a span{
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}
/*.desoslide-controls {
    display: inline-block;
    background: url(/img/desoslide_controls.png) no-repeat;
}*/

.left-div, .right-div {
    width: 15%;
    padding: 10px;
    display: inline-block;
    float: left;
    max-height: 600px;
    height: 600px;
}
.center-div {
    width: 60%;
    display: inline-block;
    float:left;
    padding:10px;
}
.photolist {
    list-style: none;
    padding: 8px;
    margin: 0;
}
.photolist.left-list {
    text-align: right;
}
.photolist li img{
    border: 1px solid #000;
    border-radius: 3px;
    transition: border 0.25s linear 0s, opacity 0.25s linear 0s;
}
.photolist li img:hover{
    border: 1px solid #E74C3C;
    border-radius: 3px;
    opacity: 0.8;
}